:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.title {
  margin-bottom: 3px;
  background-clip: text;
  background: linear-gradient(187deg,
      #42d392,
      #3398DB);
  text-shadow: rgba(66, 211, 146, 1) 0px 0px 73px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

button {
  background-color: #f9f9f9;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}